
@import '../variables/components-list-container';
@import '../variables/header';

%ml-root {
  display: block;
}

  %ml-components-list-container {
    width: $components-list-container____width;
    position: fixed;
    top: $header____height;
    left: 0;
    bottom: 0;
  }

  %ml-main-container {
    display: block;
    padding-left: $components-list-container____width;
  }