
@import '../../styles/variables/component-editor';
@import '../../styles/mixins/default';
@import '../../styles/shared/common';

.root {
  @include border-radius(3px);
  position: fixed;
  top: 300px;
  left: 300px;
  height: 350px;
  width: $component-editor____width;
  background-color: $component-editor____bg-color;
  border: 1px solid $component-editor____border-color;
}

  .field-wrapper {
    margin-top: 7px;
  }