
@import '../../styles/mixins/default';
@import '../../styles/shared/common';

.root {
  @include border-radius(3px);
  position: fixed;
  top: 300px;
  left: 300px;
  width: 250px;
  height: 350px;
  background-color: #242627;
  border: 1px solid #000000;
}

  .header {
    background-color: #000000;
    color: #939597;
    font-size: 13px;
    padding: 12px;
  }

  .nav {
    @extend .clearfix;
    border-bottom: 1px solid #000000;
  }

    .nav__link {
      color: #565656;
      cursor: pointer;
      float: left;
      font-size: 12px;
      font-weight: 700;
      padding: 7px 12px;
      position: relative;
      text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2px;
        background-color: #DF0063;
      }

      &:hover {
        color: #808080;
      }

      &.state--active {
        color: #ffffff;

        &::after {
          display: block;
        }

      }

    }

    .field-wrapper {
      margin-top: 7px;
    }