
@import '../../styles/shared/common';

.root {
  @extend .clearfix;
  color: #a0a0a0;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;

  &:hover {
    background-color: #101010;
  }

}

  .name-wrapper {
    display: flex;
  }

    .icon {
      display: inline-block;
      width: 22px;
      height: 22px;
      background-color: #000000;
      margin-right: 5px;
    }

    .name {
      display: inline-block;
      color: #d0d0d0;
      font-size: 12px;
      line-height: 22px;
    }

  .info {
    color: #777777;
    font-size: 12px;
    margin-top: 4px;

    .count {
      color: #999999;
      font-weight: 500;
    }

  }

    .children {
      margin-right: 7px;
    }

    .descendants {
    }