
$component-editor-nav-more____width: 16px;
$component-editor-nav-more____height: 25px; // measured the tab height, but they are technically dynamic

//$component-editor____width: 265px + $component-editor-nav-more____width;
$component-editor____width: 286px;

$component-editor____bg-color: #242627;
$component-editor____border-color: #000000;
