
$component-editor-nav-more____width: 16px;
$component-editor-nav-more____height: 25px; // measured the tab height, but they are technically dynamic

//$component-editor____width: 265px + $component-editor-nav-more____width;
$component-editor____width: 286px;
