
.root {
  box-shadow: 2px 0 2px rgba(0,0,0,0.1);

  background-color: #222222;
  height: 100%;
}

  .header {
    background-color: #e60959;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 8px;
    text-transform: uppercase;
  }

  .component-container {
    border-bottom: 1px solid #303030;
    //padding: 0 8px;
  }