
@import '../../styles/variables/colors';
@import '../../styles/variables/header';

.root {
  background-color: $clr-darkShade;
  height: 100%;
}

  .header {
    background-color: $clr-darkerShade;
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 500;
    padding: 0 8px;
    height: $header____elem-width;
    line-height: $header____elem-width;
  }

  .component-container {
    padding-left: 6px;
  }